.Home {
  text-align: center;

  padding: 0px;

  margin-top: -2px;
  height: 100%;
}

.bigLogo {
  width: 50%;
}
@media (min-width: 320px) and (max-width: 485px) {
  .bigLogo {
    width: 85%;
  }
}
/* #6ba0f4 */
